* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    background-color: rgb(1, 1, 49);
    color: white;
    font-family: 'Poppins', sans-serif;
  }

nav{
    width: 100%;
    height: 5rem;
    background-color: rgba(52, 47, 120, 0.767);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

a{
    color: white;
    text-decoration:none;
}

a:hover{
    color: rgb(0, 195, 255);
    box-shadow: 0 0 1rem var(--main-color);
}

nav li{
    list-style: none;
    display: inline-block;
    margin: 0 1.5rem;
}
.left{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5rem;
}
.home-content{
    width: 50%;
    margin: 9rem;
    font-size: 1.5rem;
}
.home-image{
    width: 50%;
    margin-top: 3rem;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
span{
    color: rgb(0, 195, 255);
}
/* .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 0.5rem;
    margin-left: 0;
    transition: .5s ease;
} */

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}